!!!
%html
  %head
    %title A Four Word Story
    %meta{ charset: 'utf-8' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'viewport', content: 'width=device-width', 'initial-scale' => '1.0' }
    %meta{ name: 'description', content: 'A Four Word Story' }
    %meta{ name: 'author', content: 'A Four Word Story' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Amatic+SC' }
    %link{ rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' }
    %link{ rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' }
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    %script{ src: '//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' }
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      .row
        = yield

